/*fonts*/
@font-face {
    font-family: Georgia;
    src: url("../fonts/georgia.ttf");
}
@font-face {
    font-family: ProNarrow;
    src: url("../fonts/PT Serif Pro Narrow.otf");
}
@font-face {
    font-family: ProNarrowBold;
    src: url("../fonts/PT Serif Pro Narrow Bold.otf");
}
@font-face {
    font-family: ProNarrowItalic;
    src: url("../fonts/PT Serif Pro Narrow Italic.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
}
@font-face {
    font-family: RobotoBold;
    src: url("../fonts/Robotobold.ttf");
}
/*end fonts*/
body {
    background-color: #282828;
}
/*main block*/
#main-image {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #282828 url("../image/olga_hust_bg.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}
#main-image .mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#main-image .container {
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    text-align: center;
}
#main-image .info {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10%;
    width: 100%;
}
#main-image h1 {
    font-family: Roboto, "Times New Roman";
    text-transform: capitalize;
    font-size: 24px;
    line-height: 1.566;
}
#main-image h2 {
    font-family: ProNarrowBold, "Times New Roman";
    font-size: 55px;
    font-weight: bold;
    line-height: 1.667;
}
#main-image p {
    font-family: ProNarrow, "Times New Roman";
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0px;
}
#main-image .main-soc img {
    width: 30px;
    height: 30px;
}
#main-image .main-soc a {
    margin: 0px 5px;
}
#main-image .main-soc {
    display: inline;
    border-top: 1px solid #fff;
    padding-top: 15px;
}
/*first section*/
#first-section {
    padding: 60px 0px;
    background: #ffffff url("../image/first-section/woman_and_bike.png") center center no-repeat;
    background-position-x: 95%;
    background-position-y: 80%;
}

#first-section p {
    font-size: 20px;
    font-family: ProNarrowBold, "Times New Roman";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.75;
    text-align: justify;
    margin-bottom: 0px;
}
.soc-block {
    font-size: 18px;
    font-family: ProNarrow, "Times New Roman";
    color: rgb(35, 35, 35);
    line-height: 1.667;
}

.soc-ico a {
    margin: 0px 5px;
}
.soc-ico a:first-child {
    margin-left: 0px;
}
.soc-ico a:last-child {
    margin-right: 0px;
}
.soc-ico img {
    width: 30px;
    height: 30px;
}
.divider-section {
    background-color: rgb(40, 40, 40);
    height: 50px;
}
/*second section*/
#second-section {
    padding: 60px 0px;
    background: #ffffff url("../image/second-section/section-two-bg.png") right bottom no-repeat;
    background-position-x: 130%;
    background-position-y: 75%;
    color: rgb(0, 0, 0);
}
.text-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}
.text-divider i {
    font-size: 8px;
    color: #96989c;
}
.text-divider:after,
.text-divider:before {
    content: " ";
    height: 2px;
    width: 40px;
    background-color: #96989c;
    display: block;
    margin: 0px 10px;
}
h3 {
    font-size: 24px;
    font-family: ProNarrow, "Times New Roman";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0px;
}
#about-hobie h3 {
    font-size: 36px;
}
#second-section p {
    font-family: Roboto, "Times New Roman";
    text-align: justify;
}
#second-section .welcome-to .img-welcome-container {
    margin-left: -8%;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    position: relative;
}
#second-section .welcome-to img {
    width: 100%;
    max-width: 520px;
}
#second-section .welcome-to p {
    margin-bottom: 0px;
}
#second-section .welcome-to .img-welcome-container .arrow {
    max-width: 60px;
    max-height: 120px;
    position: absolute;
    top: 100%;
    left: 0px;
}
/*image block*/
.image-section {
    background-color: #ffffff;
}
.image-section .image-fone {
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.image-section .image-fone p {
    color: #ffffff;
    margin-right: 2em;
    font-size: 18px;
    font-family: ProNarrow, "Times New Roman";
    line-height: 1.667;
}
.image-section .notes-block .col-lg-10 {
    display: flex;
}
.image-section .notes-block p {
    font-family: ProNarrowBold, "Times New Roman";
    font-size: 24px;
    color: rgb(96, 96, 96);
    font-weight: bold;
    width: 86%;
    text-align: justify;
}
.image-section .arrow-img {
    width: 14%;
}
/*image section 1,2,3,4*/
#image-section-1 .image-fone {
    background: #ffffff url("../image/third-section/egorova-section-tree.jpg") center center no-repeat;
}
#image-section-2 .image-fone {
    background: #ffffff url("../image/four-section/galyna-shirnik.jpg") center center no-repeat;
}
#image-section-3 .image-fone {
    background: #ffffff url("../image/five-section/bg-five.jpg") center center no-repeat;
}
#image-section-4 .image-fone {
    background: #ffffff url("../image/six-section/image-section.jpg") center center no-repeat;
}
/*third section*/
#third-section {
    padding: 60px 0px;
    background: #ffffff url("../image/third-section/section-three-bg.png") left bottom no-repeat;
    background-position-x: 0%;
    background-position-y: 93%;
    color: rgb(0, 0, 0);
}
strong {
    font-family: RobotoBold, "Times New Roman";
}

#third-section p {
    font-family: Roboto, "Times New Roman";
    text-align: justify;
}
#third-section .welcome-to .img-welcome-container {
    margin-right: -8%;
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
    position: relative;
}
#third-section .welcome-to img {
    width: 100%;
    max-width: 520px;
}
#third-section .welcome-to p {
    margin-bottom: 0px;
}
#third-section .welcome-to .img-welcome-container .arrow {
    max-width: 60px;
    max-height: 120px;
    position: absolute;
    right: 3%;
    top: 92%;
}
#third-section .row {
    margin-top: 15px;
    margin-bottom: 15px;
}
/*about-money, about-home*/
#about-money,
#about-home,
#about-hobie {
    padding: 60px 0px;
    background-color: #fff;
    color: rgb(0, 0, 0);
}
#about-home {
    background: #ffffff url(../image/six-section/about-home-bg.png) left bottom no-repeat;
}
#about-money p,
#about-home p,
#about-hobie p {
    font-family: Roboto, "Times New Roman";
    text-align: justify;
}
#about-hobie .georgia-font p {
    font-family: Georgia, "Times New Roman";
}
#about-money .row,
#about-home .row,
#about-hobie .row {
    margin-bottom: 15px;
}
#about-money .row:last-child,
#about-home .row:last-child,
#about-hobie .row:last-child {
    margin-bottom: 0px;
}
/*four section*/
#four-section {
    padding: 60px 0px;
    background: #ffffff url(../image/four-section/four-section-bg.png) left bottom no-repeat;
    background-position-x: 100%;
    background-position-y: 93%;
    color: rgb(0, 0, 0);
}
#four-section .row {
    margin-bottom: 30px;
}
#four-section .welcome-to .img-welcome-container {
    margin-left: -8%;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    position: relative;
}
#four-section .welcome-to img {
    width: 100%;
    max-width: 520px;
}
#four-section .welcome-to .img-welcome-container .arrow {
    max-width: 90px;
    max-height: 120px;
    position: absolute;
    top: -17px;
    right: -30px;
}
#four-section p {
    font-family: Roboto, "Times New Roman";
    text-align: justify;
    margin-bottom: 0px;
}
/*five section*/
#five-section {
    padding: 60px 0px;
    background: #ffffff url(../image/five-section/bg-five.png) left bottom no-repeat;
    background-position-x: 50%;
    background-position-y: 97%;
    color: rgb(0, 0, 0);
}
#five-section .row {
    margin-bottom: 30px;
}
#five-section .welcome-to .img-welcome-container {
    margin-left: -8%;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    position: relative;
}
#five-section .welcome-to img {
    width: 100%;
    max-width: 520px;
}
#five-section .welcome-to .img-welcome-container .arrow {
    max-width: 90px;
    max-height: 120px;
    position: absolute;
    top: -17px;
    right: -30px;
}
#five-section .welcome-to .img-welcome-container-2 {
    margin-right: -8%;
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
    position: relative;
}
#five-section .welcome-to .img-welcome-container-2 .arrow {
    max-width: 100px;
    max-height: 120px;
    position: absolute;
    top: 39%;
    left: -110px;
}
#five-section p {
    font-family: Roboto, "Times New Roman";
    text-align: justify;
    margin-bottom: 0px;
}
/*six section*/
#six-section {
    padding: 60px 0px;
    background: #ffffff url(../image/six-section/bg.png) left bottom no-repeat;
    background-position-x: 50%;
    background-position-y: 97%;
    color: rgb(0, 0, 0);
}
#six-section .row {
    margin-bottom: 30px;
}
#six-section .welcome-to .img-welcome-container {
    margin-left: -8%;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    position: relative;
}
#six-section .welcome-to img {
    width: 100%;
    max-width: 520px;
}
#six-section .welcome-to .img-welcome-container .arrow {
    max-width: 90px;
    max-height: 120px;
    position: absolute;
    top: -17px;
    right: -30px;
}
#six-section .welcome-to .img-welcome-container-2 {
    margin-right: -8%;
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
    position: relative;
}
#six-section .welcome-to .img-welcome-container-2 .arrow {
    max-width: 100px;
    max-height: 120px;
    position: absolute;
    top: -5%;
    left: -25px;
}
#six-section p {
    font-family: Roboto, "Times New Roman";
    text-align: justify;
    margin-bottom: 0px;
}
/*seven section*/
#seven-section {
    padding: 60px 0px;
    background: #ffffff url(../image/seven-section/bg.png) top center no-repeat;
    background-position-x: 50%;
    background-position-y: 97%;
    color: rgb(0, 0, 0);
}
#seven-section .row {
    margin-bottom: 30px;
}
#seven-section .welcome-to .img-welcome-container {
    margin-left: -8%;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    position: relative;
}
#seven-section .welcome-to img {
    width: 100%;
    max-width: 520px;
}
#seven-section .welcome-to .img-welcome-container .arrow {
    max-width: 90px;
    max-height: 120px;
    position: absolute;
    top: -17px;
    right: -30px;
}
#seven-section .welcome-to .img-welcome-container-2 {
    margin-right: -8%;
    margin-left: 15px;
    margin-bottom: 15px;
    float: right;
    position: relative;
}
#seven-section .welcome-to .img-welcome-container-2 .arrow {
    max-width: 100px;
    max-height: 120px;
    position: absolute;
    top: 47%;
    left: -110px;
}
#seven-section p {
    font-family: Roboto, "Times New Roman";
    text-align: justify;
    margin-bottom: 0px;
}
#about-hobie .font-italic p {
    font-family: ProNarrowItalic, "Times New Roman";
    font-size: 20px;
}
#about-hobie .font-italic img {
    display: block;
    margin: 30px auto 0;
}
/*slider footer*/
#slider-footer {
    padding: 60px 0px;
    background-color: #363636;
    color: #fff;
}
#slider-footer .thumbnail {
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    overflow: hidden;
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
}
#slider-footer h4 {
    font-family: ProNarrowBold, "Times New Roman";
    font-size: 24px;
    text-transform: uppercase;
}
#slider-footer .slider-nav p {
    font-family: Georgia, "Times New Roman";
    margin-bottom: 3px;
}
#slider-footer .slider-nav p a {
    color: #fff;
}
#slider-footer .slider-for p {
    font-family: Georgia, "Times New Roman";
    text-align: justify;
}
#slider-footer button {
    background: transparent;
    border: 0px;
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 10%;
    z-index: 10;
}
#slider-footer button:focus {
    outline: none;
}
#slider-footer button.prev {
    left: -55px;
}
#slider-footer button.next {
    left: 150px;
}

/*responsive*/
@media screen and (max-width: 1199px) {
    #first-section {
        background-position-x: 98%;
    }
    #five-section .welcome-to .img-welcome-container-2 .arrow {
        top: 60%;
    }
    #seven-section .welcome-to .img-welcome-container-2 .arrow {
        top: 70%;
    }
}
@media screen and (max-width: 991px) {
    #first-section,
    #second-section,
    #third-section,
    #about-money,
    #four-section,
    #five-section,
    #six-section,
    #about-home,
    #seven-section,
    #about-hobie,
    #slider-footer {
        padding: 50px 15px;
    }
    .hidden-md-down {
        display: none;
    }
    #second-section .welcome-to img,
    #third-section .welcome-to img,
    #four-section .welcome-to img,
    #five-section .welcome-to img,
    #five-section .welcome-to img,
    #six-section .welcome-to img,
    #six-section .welcome-to img,
    #seven-section .welcome-to img,
    #seven-section .welcome-to img,
    #seven-section .welcome-to img {
        max-width: 350px;
    }
    #second-section .welcome-to .img-welcome-container .arrow,
    #third-section .welcome-to .img-welcome-container .arrow,
    #four-section .welcome-to .img-welcome-container .arrow,
    #five-section .welcome-to .img-welcome-container .arrow,
    #five-section .welcome-to .img-welcome-container-2 .arrow,
    #six-section .welcome-to .img-welcome-container .arrow,
    #six-section .welcome-to .img-welcome-container-2 .arrow,
    #seven-section .welcome-to .img-welcome-container .arrow,
    #seven-section .welcome-to .img-welcome-container-2 .arrow {
        display: none;
    }
    #second-section .welcome-to .img-welcome-container,
    #four-section .welcome-to .img-welcome-container,
    #five-section .welcome-to .img-welcome-container,
    #six-section .welcome-to .img-welcome-container,
    #seven-section .welcome-to .img-welcome-container {
        margin-left: 0px;
        margin-bottom: 5px;
    }
    #five-section .welcome-to .img-welcome-container-2,
    #six-section .welcome-to .img-welcome-container-2,
    #seven-section .welcome-to .img-welcome-container-2,
    #third-section .welcome-to .img-welcome-container {
        margin-right: 0px;
        margin-bottom: 5px;
    }
    .image-section .image-fone {
        height: 350px;
    }
    .image-section .notes-block {
        padding: 0px 15px;
    }
    .image-section .notes-block p {
        font-size: 20px;
        width: 84%;
    }
    .image-section .arrow-img {
        width: 16%;
    }
}
@media screen and (max-width: 767px) {
    #first-section,
    #second-section,
    #third-section,
    #about-money,
    #four-section,
    #five-section,
    #six-section,
    #about-home,
    #seven-section,
    #about-hobie,
    #slider-footer {
        padding: 30px 15px;
    }
    #first-section p {
        font-size: 16px;
    }
    #second-section .welcome-to img,
    #third-section .welcome-to img,
    #four-section .welcome-to img,
    #five-section .welcome-to img,
    #five-section .welcome-to img,
    #six-section .welcome-to img,
    #six-section .welcome-to img,
    #seven-section .welcome-to img,
    #seven-section .welcome-to img,
    #seven-section .welcome-to img {
        max-width: 100%;
    }
    #second-section .welcome-to .img-welcome-container,
    #third-section .welcome-to .img-welcome-container,
    #four-section .welcome-to .img-welcome-container,
    #five-section .welcome-to .img-welcome-container,
    #five-section .welcome-to .img-welcome-container-2,
    #six-section .welcome-to .img-welcome-container,
    #six-section .welcome-to .img-welcome-container-2,
    #seven-section .welcome-to .img-welcome-container,
    #seven-section .welcome-to .img-welcome-container-2 {
        margin: 0 0 5px 0;
    }
    .image-section .image-fone {
        height: 300px;
    }
    .image-section .notes-block p {
        font-size: 18px;
        width: 84%;
    }
    .image-section .arrow-img {
        width: 16%;
    }
    .image-section .arrow-img img {
        width: 100%;
    }
    #slider-footer .single {
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    #slider-footer button.next {
        left: 70%;
    }
    #slider-footer button.prev {
        left: 22%;
    }
}
@media screen and (max-width: 576px) {
    #main-image h2 {
        font-size: 34px;
    }
    #main-image img {
        width: 100%;
        max-width: 320px;
    }
    h3 {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .image-section .notes-block .col-lg-10 {
        display: block;
    }
    .image-section .arrow-img {
        float: left;
    }
    .image-section .notes-block p {
        font-size: 16px;
        width: 100%;
    }
    #about-money .row, #about-home .row, #about-hobie .row {
        margin-bottom: 5px;
    }
    #five-section .row,
    #six-section .row,
    #seven-section .row {
        margin-bottom: 15px;
    }
    #about-hobie h3 {
        font-size: 21px;
    }
    #about-hobie h3 {
        font-size: 18px;
    }
    #slider-footer button.prev {
        left: 0%;
    }
    #slider-footer button.next {
        left: 92%;
    }
    #slider-footer .slider-for p {
        font-size: 14px;
    }
}
@media screen and (max-width: 375px) {
    #slider-footer button.prev {
        left: -2%;
    }
}
